* {
  margin: 0;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 10% auto;
  background-color: beige;
  align-items: stretch;
  min-height: 100vh;
}
.header {
  background-color: bisque;
  grid-column: 1 / -1;
  padding: 20px;
}
.side {
  grid-row: 2;
  grid-column: 1;
  padding: 25px;
}

.main {
  background-color: azure;
  grid-column: 2;
  grid-row: 2;
  padding: 30px;
}
.footer {
  background-color: blanchedalmond;
  grid-column: 1/-1;
  text-align: center;
  height: 50px;
}
.footer p {
  padding: 15px;
}
