.container {
  display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(8, 100px);
  justify-content: center;
}
.child_white {
  border: 1px solid black;
  background-color: white;
}
.child_black {
  background-color: black;
  border: 1px solid black;
}
